.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
}

.logo {
    margin-left: 10px;
}

form {
    background-color: white;
    // border: 1px solid red;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
    border-radius: 20px;
    // padding-left: 20px;
    // padding-top: 20px;
    padding: 15px;
}


//footer
.box-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px !important;
    color: #1f1f1f !important;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgb(231, 229, 229);
    margin-left: 18.5%;
    margin-right: 18.5%;
}

.footer-button {
    justify-content: space-evenly;
    color: #1f1f1f !important;
    background-color: transparent;
    border: none;
    font-size: 12px;
    gap: 30px;
    padding: 10px;
}

.footer-button:not(:hover) {
    background-color: transparent;

}
mat-select{
    width: 170px;
    font-size: 12px;
    margin-left: 8px;
}
mat-option{
    font-size: 12px;
    width: 100%;
}


