<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/keepNotes.png" alt="KeepNotes" class="logo">
    <span>{{navTitile}}</span>
    <span class="spacer"></span>
    <mat-form-field appearance="outline">
        <mat-icon style="margin-top: 14px;">search</mat-icon>
        <input matInput>
        <!-- <button class="searchBar" mat-icon-button matSuffix></button> -->
    </mat-form-field>
    <div class="icons">
        <mat-icon class="refersh">refresh</mat-icon>
        <mat-icon>lists</mat-icon>
        <mat-icon>settings</mat-icon>
    </div>
    <mat-icon class="apps">apps</mat-icon>
    <button mat-icon-button>
        <img src="../assets/digit.png" alt="porfileImage" class="porfileImage">
        <mat-icon>account_circle</mat-icon>
    </button>

</mat-toolbar>