<div class="note-card">
    <div class="card" *ngFor = "let note of notesList">
        <div class="header">{{note.title}}</div>
        <div class="body">{{note.description}}</div>
        <div class="button">
            <mat-icon class="button-icon" (click)="restore(note)">restore</mat-icon>
            <mat-icon class="button-icon" (click)="delete(note)">delete_outline</mat-icon>
            <mat-icon class="button-icon">favorite_border</mat-icon>
            <mat-icon class="button-icon">home</mat-icon>
            <mat-icon class="button-icon">label_important</mat-icon>
        </div>
    </div>

</div>