<div style="display: flex;">
    <div class="left">
        <p class="heading">Create a Google Account
        <p>
        <div>Enter your name</div>
    </div>
    <div class="right">
        <div>
                <mat-form-field appearance="outline" color=primary>
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" color=primary>
                    <mat-label>Last name (optional)</mat-label>
                    <input matInput>
                </mat-form-field>
        </div>

        <div class="button-class">
            <a><button mat-raised-button color="primary" class="button button-next" (click)="goToNext()">Next</button></a>
        </div>
    </div>

</div>