<div style="display: flex;">
    <div class="left">
        <p class="heading">Create a Google Account
        <p>
        <div>Enter your name</div>
    </div>
    <div class="right">
        <form [formGroup]="signupform" (ngSubmit)="regformsubmit()">
            <div>
                <mat-form-field appearance="outline" color=primary>
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="fname">
                </mat-form-field>
                <div *ngIf="signupform.get('fname')?.invalid && (signupform.get('fname')?.dirty || signupform.get('fname')?.touched)" style="color: red; margin-left: 5px;">Please provide a valid Name</div>
                <mat-form-field appearance="outline" color=primary>
                    <mat-label>Last name (optional)</mat-label>
                    <input matInput formControlName="lname">
                </mat-form-field>
            </div>

            <div class="button-class">
                <a><button mat-raised-button color="primary" class="button button-next" type="submit"
                        >Next</button></a>
            </div>
        </form>
    </div>

</div>