<div class="search-bar">
    <mat-form-field appearance="outline" style="display: flex;">
        <div style="display: flex;">

            <input matInput style="margin-top: 10px;" placeholder="Take a note ..">

            <mat-icon style="margin-top: 13px;">check_box</mat-icon>
            <mat-icon style="margin-top: 13px; margin-left: 10px;">brush</mat-icon>
            <mat-icon style="margin-top: 13px; margin-left: 10px;">image</mat-icon>

        </div>
    </mat-form-field>
</div>


<div class="note-card">
    <div class="card">
        <div class="header">Lorem ipsum dolor sit.</div>
        <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente illo accusantium qui fuga vel. Suscipit dicta consectetur placeat obcaecati.</div>
        <div class="button">
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
        </div>
    </div>
    <div class="card">
        <div class="header">Lorem ipsum dolor sit.</div>
        <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente illo accusantium qui fuga vel. Suscipit dicta consectetur placeat obcaecati.</div>
        <div class="button">
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
        </div>
    </div>
    <div class="card">
        <div class="header">Lorem ipsum dolor sit.</div>
        <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente illo accusantium qui fuga vel. Suscipit dicta consectetur placeat obcaecati.</div>
        <div class="button">
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
            <mat-icon>check_box</mat-icon>
        </div>
    </div>

</div>