<div class="search-bar">
    <mat-form-field appearance="outline" style="display: flex;">
        <div style="display: flex;">

            <input matInput style="margin-top: 10px;" placeholder="Take a note ..">

            <mat-icon style="margin-top: 13px;">check_box</mat-icon>
            <mat-icon style="margin-top: 13px; margin-left: 10px;">brush</mat-icon>
            <mat-icon style="margin-top: 13px; margin-left: 10px;">image</mat-icon>

        </div>
    </mat-form-field>
</div>


<div class="note-card">
    <div class="card" *ngFor = "let note of notesList">
        <div class="header">{{note.title}}</div>
        <div class="body">{{note.description}}</div>
        <div class="button">
            <mat-icon class="button-icon">check_circle</mat-icon>
            <mat-icon class="button-icon">delete_outline</mat-icon>
            <mat-icon class="button-icon">favorite_border</mat-icon>
            <mat-icon class="button-icon">home</mat-icon>
            <mat-icon class="button-icon">label_important</mat-icon>
        </div>
    </div>

</div>