<div style="display: flex;">
    <div class="left">
        <p class="heading">Create a strong password
        <p>
        <div>Create a strong password with a mix of letters, numbers and symbols</div>
    </div>
    <div class="right">
        <form [formGroup]="signupform" (ngSubmit)="regformsubmit()">
            <div>
                <mat-form-field appearance="outline" color=primary>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
                <div *ngIf="(this.signupform.get('password')?.invalid && (this.signupform.get('password')?.dirty || this.signupform.get('password')?.touched))" style="color: red; margin-top: 3px;">Please enter a password of minimum 6 digits</div>
                <mat-form-field appearance="outline" color=primary>
                    <mat-label>Confirm</mat-label>
                    <input matInput formControlName="confirmPassword">
                </mat-form-field>
            </div>

            <div class="button-class">
                <button mat-raised-button color="primary" class="button button-next" type="submit">Next</button>
            </div>
        </form>
    </div>

</div>