.mat-drawer-container {
    display: inline;
    background-color: #f5f5f5;
    width: auto;
}

::ng-deep .mat-drawer-inner-container{
    background-color: white;
}
::ng-deep .mat-drawer-content{
    background-color: white;
}

mat-sidenav {
    width: 250px;
    border: none;
}

mat-list-item {
    display: flex;
    align-items: center;
}

mat-icon {
    margin-right: 16px;
}

// ::ng-deep .mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
//     background: rgba(255, 16, 16, 0.5) !important;
// }
::ng-deep .mat-list-item:hover {
    background: rgba(255, 16, 16, 0.5) !important;
}
.example-container{
    margin-left: 20px;
}
